/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header nav .links a {
  margin: 5px;
  text-decoration: none;
}
header nav .links a:not(:first-child) {
  border-left: 2px solid #0c486c;
}
header nav .nav-logo {
  height: 25px;
}
<<<<<<< HEAD
.bigContainer .aboutUs-main {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  margin: 2% 0 2% 0;
  padding: 2%;
  border: 1px solid blue;
  width: 60%;
}
.bigContainer .aboutUs-main h1 {
  display: flex;
  align-self: center;
  font-size: 5rem;
  margin-bottom: 2%;
}
.bigContainer .aboutUs-main p {
  line-height: 2.2rem;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
=======
header .home-hero {
  display: flex;
  flex-direction: column;
>>>>>>> ada66acee0abe801bd4a9ac81b1674aafdf62241
}
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serrif;
}
html body h1,
html body h2,
html body h3,
html body h4 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serrif;
}
html body .bigContainer {
  width: 85%;
  border: 1px solid red;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
