/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html body {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serrif;
  color: #0c486c;
  background: #a3beb3;
  background: linear-gradient(0deg, #a3beb3 0%, #ffffff 100%);
}
html body h1,
html body h2,
html body h3,
html body h4 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serrif;
  color: #2d9c79;
}
html body p {
  line-height: 2.5rem;
}
html body .bigContainer {
  width: 85%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
html body .homeContainer {
  width: 85%;
  margin: 0 auto;
}
html body .homeContainer img {
  height: 500px;
  border-radius: 15%;
}
header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-bottom: 2px solid #ff999c;
}
@media ((max-width: 1010px)) {
  header nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-top: 115px;
    margin-top: -130px;
    border: none;
    background-clip: content-box;
  }
}
header nav .links {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
@media ((max-width: 800px)) {
  header nav .links {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 55%;
    z-index: 1;
  }
}
header nav .links input {
  opacity: 0%;
}
@media ((max-width: 800px)) {
  header nav .links input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  header nav .links input:checked ~ span {
    opacity: 1;
    transform: rotate(-45deg) translate(-2px, -1px);
    background-color: #ff999c;
  }
  header nav .links input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    transform-origin: center;
  }
  header nav .links input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(0, -1px);
  }
  header nav .links input:checked ~ .buttons {
    transform: none;
  }
}
@media ((max-width: 800px)) {
  header nav .links span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #1893a5;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header nav .links span:first-child {
    transform-origin: 0% 0%;
  }
  header nav .links span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}
header nav .links .buttons {
  display: flex;
  width: 100%;
  justify-content: end;
}
@media ((max-width: 800px)) {
  header nav .links .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    margin: -100px 0 0 -164%;
    padding: 50px;
    padding-top: 125px;
    background: #85b3a8;
    transform: translate(100%, 0);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
header nav .links a {
  margin: 0.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1%;
  color: #2d9c79;
  display: inline-block;
}
@media ((max-width: 800px)) {
  header nav .links a {
    color: black;
    text-decoration: underline;
  }
}
header nav .links a:hover {
  color: #ff999c;
  transform: translate(0, -8px);
  transition: 0.3s ease;
}
@media ((max-width: 800px)) {
  header nav .links a:hover {
    color: white;
  }
}
header nav .links p {
  font-size: 4rem;
}
@media ((max-width: 800px)) {
  header nav .links p {
    opacity: 0%;
  }
}
header nav .nav-logo {
  height: 7rem;
}
.home-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(/images/home-hero-image.jpg);
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  backdrop-filter: brightness(0.2);
  padding: 15%;
  line-height: 2.3rem;
  color: black;
}
.home-hero h1 {
  background: rgba(112, 143, 153, 0.3);
  border-radius: 10%;
  padding: 2%;
}
.home-hero p {
  margin: 5px;
}
.home-hero button {
  width: 20%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.home-hero button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.cta button {
  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.cta button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}
.cta p {
  margin: 1%;
}
@media ((max-width: 1010px)) {
  .cta p {
    text-align: center;
  }
}
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
@media ((max-width: 1010px)) {
  .about {
    flex-direction: column;
  }
}
.about div {
  width: 45%;
  margin: 2%;
}
@media ((max-width: 1010px)) {
  .about div {
    width: 70%;
  }
}
.about p,
.about h2 {
  margin: 20px 0;
}
@media ((max-width: 1255px)) {
  .about p,
  .about h2 {
    margin-right: 20%;
  }
}
@media ((max-width: 1010px)) {
  .about p,
  .about h2 {
    margin: 0;
    text-align: center;
  }
}
.about .aboutImage {
  display: flex;
  justify-content: center;
}
.about button {
  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
  margin-top: 10px;
}
.about button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}
@media ((max-width: 1255px)) {
  .about button {
    width: 20%;
  }
}
.contact-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
@media ((max-width: 1010px)) {
  .contact-intro {
    flex-direction: column;
  }
}
.contact-intro div {
  width: 45%;
  margin: 2%;
}
@media ((max-width: 1010px)) {
  .contact-intro div {
    width: 70%;
  }
}
.contact-intro p,
.contact-intro h2 {
  margin: 20px;
}
@media ((max-width: 1255px)) {
  .contact-intro p,
  .contact-intro h2 {
    margin-left: 20%;
  }
}
@media ((max-width: 1010px)) {
  .contact-intro p,
  .contact-intro h2 {
    margin: 0;
    text-align: center;
  }
}
.contact-intro .contactImage {
  display: flex;
  justify-content: center;
}
.contact-intro button {
  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
  margin-top: 10px;
}
.contact-intro button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}
@media ((max-width: 1255px)) {
  .contact-intro button {
    width: 20%;
  }
}
.bigContainer .aboutUs-main {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  margin: 2% 0 2% 0;
  padding: 2%;
  border-bottom: 2px double #ff999c;
  width: 60%;
}
.bigContainer .aboutUs-main h1 {
  display: flex;
  align-self: center;
  font-size: 5rem;
  margin-bottom: 2%;
}
.bigContainer .aboutUs-main p {
  line-height: 2.8rem;
  text-align: center;
}
.bigContainer .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.bigContainer .gallery .personShowcase {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: 1% 0 1% 0;
  flex-grow: initial;
  justify-content: stretch;
}
.bigContainer .gallery .personShowcase img {
  width: 20rem;
  border-radius: 50%;
}
.bigContainer .gallery .personShowcase h3 {
  text-align: center;
  margin: 2% 0 2% 0;
}
.bigContainer .gallery .personShowcase p {
  width: 45%;
  line-height: 2.2rem;
  padding: 1%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bigContainer .gallery .personShowcase p a {
  text-decoration: none;
  color: #0c486c;
}
.bigContainer .gallery .personShowcase p a:hover {
  color: #ff999c;
  text-decoration: underline;
  transition: 0.3s ease;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75vh;
}
@media ((max-width: 1010px)) {
  .forms {
    height: 90vh;
  }
}
.forms .title {
  margin: 1%;
}
.forms p {
  margin: 3%;
}
.forms input {
  margin: 5%;
  color: #0c486c;
}
.forms input:hover {
  background-color: #85b3a8;
  color: white;
  transition: 0.3s ease;
}
.forms input:focus {
  background-color: #85b3a8;
  color: white;
  transition: 0.3s ease;
}
.forms button {
  width: 200px;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
  margin-bottom: 3%;
}
.forms button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}
.strains-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0 5% 0;
}
.strains-hero h1 {
  font-size: 4rem;
  margin-bottom: 2%;
}
.mdash {
  display: none;
}
@media (max-width: 1255px) {
  .mdash {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    align-items: center;
    text-align: center;
    margin: 2% 0 2% 0;
  }
}
.strainsSection .sativa {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1255px) {
  .strainsSection .sativa {
    flex-direction: column;
    margin-bottom: 2%;
  }
}
.strainsSection .sativa .strainsTextSection h2 {
  margin-bottom: 1%;
}
.strainsSection .sativa .strainsTextSection p {
  padding-right: 5%;
}
@media (max-width: 1255px) {
  .strainsSection .sativa .strainsTextSection p {
    margin-bottom: 5%;
  }
}
.strainsSection .sativa img {
  width: 60rem;
  height: auto;
}
@media (max-width: 1255px) {
  .strainsSection .sativa img {
    width: 30rem;
  }
}
.strainsSection .indica {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1255px) {
  .strainsSection .indica {
    flex-direction: column;
  }
}
.strainsSection .indica .strainsTextSection h2 {
  padding-left: 5%;
  margin-bottom: 1%;
}
@media (max-width: 1255px) {
  .strainsSection .indica .strainsTextSection h2 {
    padding: 0;
  }
}
.strainsSection .indica .strainsTextSection p {
  padding-left: 5%;
}
@media (max-width: 1255px) {
  .strainsSection .indica .strainsTextSection p {
    padding: 0;
  }
}
.strainsSection .indica img {
  width: 60rem;
  height: auto;
}
@media (max-width: 1255px) {
  .strainsSection .indica img {
    width: 30rem;
  }
}
.strainsSection .hybrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
@media (max-width: 1255px) {
  .strainsSection .hybrid {
    flex-direction: column;
  }
}
.strainsSection .hybrid .strainsTextSection h2 {
  margin-bottom: 1%;
}
.strainsSection .hybrid .strainsTextSection p {
  padding-right: 5%;
}
.strainsSection .hybrid img {
  width: 60rem;
  height: auto;
}
@media (max-width: 1255px) {
  .strainsSection .hybrid img {
    width: 30rem;
  }
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
footer {
  background-color: #2d9c79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16.5vh;
}
footer address {
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
footer address p {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 2%;
  margin-top: 1%;
  color: white;
}
footer nav {
  margin: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer nav a {
  text-decoration: none;
  color: white;
  padding: 1%;
}
footer nav a:hover {
  color: #000000;
}
