/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html body {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serrif;
}
html body h1,
html body h2,
html body h3,
html body h4 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serrif;
}
html body .bigContainer {
  width: 85%;
  border: 1px solid blue;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 1.5rem;

}
header nav .links {
  display: flex;
  justify-content: end;
  width: 100%;


}
header nav .links a {
  margin: 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1%;
  color: #28ad07;
  display: inline-block;
}
header nav .links a:hover {
  color: #1893a5;
  transform: translate(0, -8px);
  transition: 0.3s ease;
}
header nav .links a:not(:first-child) {
  border-left: 2px solid #0c486c;
}


header nav .nav-logo {
  height: 5rem;
}


header nav .nav-logo {
  height: 50px;
}
header .home-hero {
  display: flex;
  flex-direction: column;
}
header .home-hero button {

.home-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(/images/home-hero-image.jpg);
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  backdrop-filter: brightness(0.2);
  padding: 15%;
}
.home-hero p {
  margin: 5px;

}
.home-hero button {
  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.home-hero button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;
}

}
.home-hero button {
  width: 5%;
  padding: 2%;
  font-family: 'Montserrat', sans-serrif;
  color: #0c486c;
  background-color: #1893a5;
  border-radius: 3px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.cta button {

  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.cta button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;

  width: 5%;
  padding: 2%;
  font-family: 'Montserrat', sans-serrif;
  color: #0c486c;
  background-color: #1893a5;
  border-radius: 3px;

}
.cta p {
  margin: 1%;
}
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
.about div {
  width: 45%;
  margin: 2%;
}
.about p {
  margin: 20px 0;
}
.about button {

  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.about button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;

  width: 5%;
  padding: 2%;
  font-family: 'Montserrat', sans-serrif;
  color: #0c486c;
  background-color: #1893a5;
  border-radius: 3px;

}
.bigContainer {
  border: 1px solid blue;
.contact-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
.contact-intro div {
  width: 45%;
  margin: 2%;
}
.contact-intro p {
  margin: 20px 0;
}
.contact-intro button {

  width: 15%;
  padding: 1%;
  font-family: 'Montserrat', sans-serrif;
  color: white;
  background-color: #1893a5;
  border-radius: 20px;
}
.contact-intro button:hover {
  background-color: white;
  color: #0c486c;
  transition: 0.4s ease;

  width: 5%;
  padding: 2%;
  font-family: 'Montserrat', sans-serrif;
  color: #0c486c;
  background-color: #1893a5;
  border-radius: 3px;
}
.bigContainer .aboutUs-main {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  margin: 2% 0 2% 0;
  padding: 2%;
  border: 1px solid blue;
  width: 60%;
}
.bigContainer .aboutUs-main h1 {
  display: flex;
  align-self: center;
  font-size: 5rem;
  margin-bottom: 2%;
}
.bigContainer .aboutUs-main p {
  line-height: 2.2rem;
}
.bigContainer .gallery {
  display: flex;
  flex-flow: row wrap;
}
.bigContainer .gallery .personShowcase {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: 1% 0 1% 0;
  flex-grow: initial;
  justify-content: stretch;
}
.bigContainer .gallery .personShowcase img {
  width: 20rem;
  border-radius: 50%;
}
.bigContainer .gallery .personShowcase h3 {
  text-align: center;
  margin: 2% 0 2% 0;
}
.bigContainer .gallery .personShowcase p {
  width: 45%;
  line-height: 2.2rem;
  padding: 1%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bigContainer .gallery .personShowcase p a {
  text-decoration: none;
  color: #0c486c;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');

}
footer {
  background-color: #28ad07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13vh;
}
footer address {
  justify-content: center;
  align-items: center;
}
footer address p {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 2%;
  margin-top: 1%;
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serrif;
  color: #0c486c;
}
html body h1,
html body h2,
html body h3,
html body h4 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serrif;
  color: #28ad07;
}
footer nav {
  margin: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer nav a {
  text-decoration: none;
  color: white;
  margin: 1%;
}
html body .homeContainer {
  width: 85%;
  margin: 0 auto;
}
html body .homeContainer img {
  height: 500px;
  border-radius: 15%;
}
