.bigContainer {
    .aboutUs-main{
        display: flex;
        flex-flow: column wrap;
        align-self: center;
        margin: 2% 0 2% 0;
        padding: 2%;
        border-bottom: 2px double @accentColor;
        width: 60%;

        @media @hamburgerMenu {
            margin-top: 6%;
        }

        @media @mobile {
            margin-top: 11%;
            width: 100%;
        }


        h1{
            display: flex;
            align-self: center;
            font-size: 5rem;
            margin-bottom: 2%;
            // margin-top: 10%;
            
        }

        p{
            line-height: 2.8rem;
            text-align: center;

            @media @mobile {
                margin: 3%;
            }
        }
    }


    .gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 2% 0;
        
        
    
       
        .personShowcase {
            display: flex;
            flex-direction: column;
            width: 33%;
            justify-content: center;
            align-items: center;
            margin: 1% 0 1% 0;
            flex-grow: initial;
            justify-content: stretch;

            @media @hamburgerMenu {
                width: 50%;
                margin-bottom: 3%;
                
            }

            @media @mobile {
                width: 100%;
                margin-bottom: 5%;
                padding: 2%;
                

                &:not(:last-child) {
                    border-bottom: 1px solid @accentColor;
                }
            }
            
           

            img{
                width: 20rem;
                border-radius: 50%;

                

                @media @tablet {
                    width: 15rem;
                }

                @media @mobile {
                    width: 10rem;
                }
            }

            
            h3{
                text-align: center;
                margin: 2% 0 2% 0;
            }
            p {
                width: 45%;
                line-height: 2.2rem;
                padding: 1%;
                align-items: center;
                justify-content: center;
                text-align: center;

                @media @tablet {
                    width: 50%;
                    font-size: 1.5rem;
                }

                @media @hamburgerMenu {
                    width: 60%;
                }

                @media @mobile {
                    width: 100%;
                }
                
                a {
                    text-decoration: none;
                    color: @textColor;

                    &:hover{
                        color: @accentColor;
                        text-decoration: underline;
                        transition: .3s ease;
                    }
                 }   
            }
             
        }
    }

    
}