footer{

    background-color: @mainColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    

    address{
            justify-content: center;
            align-items: center;
        p{
            text-align: center;
            font-size: 1.6rem;
            padding-top: 2%;
            margin-top: 1%;
        }
    }

    nav{
        margin: 1%;
        display: flex;
        justify-content: center;
        width: 100%;
        a{
            text-decoration: none;
            color: white;
            margin: 1%;
        }
    }
}