
// Hero Image
.home-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(/images/home-hero-image.jpg);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    backdrop-filter: brightness(0.2);
    padding: 15%;
    line-height: 2.3rem;
    color: black;

    h1 {
        background: rgba(112, 143, 153, 0.3);
        border-radius: 10%;
        padding: 2%;
    }

    p {
        margin: 5px;
    }

    button {
        .buttonStyle(20%);
    } 
}

// Call to Action
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

    button {
        .buttonStyle();
    }
    
    p {
        margin: 1%;

        @media(@tabletBP) {
            text-align: center;
        }
    }

}

// Our Team Section

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;

    @media(@tabletBP) {
        flex-direction: column;
    }


    div {
        width: 45%;
        margin: 2%;

        @media(@tabletBP) {
            width: 70%;
        }
    }

    p, h2 {
        margin: 20px 0;
        
        @media(@tablet) {
            margin-right: 20%;
        }

        @media(@tabletBP) {
            margin: 0;
            text-align: center;
        }
    }

    .aboutImage {
        display: flex;
        justify-content: center;
    }

    button {
        .buttonStyle();
        margin-top: 10px;

        @media(@tablet) {
            width: 20%;
        }
    }

}

// Contact Introduction 

.contact-intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;

    @media(@tabletBP) {
        flex-direction: column;
    }

    div {
        width: 45%;
        margin: 2%;

        @media(@tabletBP) {
            width: 70%;
        }
    }

    p, h2{
        margin: 20px;

        @media(@tablet) {
            margin-left: 20%;
        }

        @media(@tabletBP) {
            margin: 0;
            text-align: center;
        }
    }

    .contactImage {
        display: flex;
        justify-content: center;
    }

    button {
        .buttonStyle();
        margin-top: 10px;

        @media(@tablet) {
            width: 20%;
        }
    }
}