.buttonStyle(@width:15%, ) {
    width: @width;
    padding: 1%;
    font-family: @headerFont;
    color: white;
    background-color: @accentColor2;
    border-radius: 20px;

       &:hover {
            background-color: white;
            color: @textColor;
            transition: 0.4s ease;
        }
}

// Media Queries

@mobile: ~"(max-width: 500px)";
@mobileBP: ~"(max-width: 370px)";
@hamburgerMenu: ~"(max-width: 800px)";
@tablet: ~"(max-width: 1255px)";
@tabletBP: ~"(max-width: 1010px)";