header {
    display: flex;
    flex-direction: column;
    align-items: center;

        nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .links {
                
                a {
                    margin: 5px;
                    text-decoration: none;
                }

                a:not(:first-child){
                    border-left: 2px solid @textColor;
                }

        }
<<<<<<< HEAD
}
=======

        .nav-logo {
            height: 25px;
        }
    }

    .home-hero {
        display: flex;
        flex-direction: column;
        
        button {
            .button();
        }
    }
>>>>>>> ada66acee0abe801bd4a9ac81b1674aafdf62241
}