header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

        .main-logo {
            @media @mobile {
                width: 75%;
                margin-top: 5%;
            }

            @media @mobileBP {
                margin-top: 10%;
            }
        }

        nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            padding: 1.5rem;
            border-bottom: 2px solid @accentColor;

            @media @tabletBP {
                position: fixed;
                top: 0;
                z-index: 1;
                background-color: white;
                padding-top: 115px;
                margin-top: -130px;
                border: none;
                background-clip: content-box;
            }

            .links {
                display: flex;
                justify-content: flex-end;
                width: 60%;

                @media @hamburgerMenu {
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    left: 55%;
                    z-index: 1;

                    @media @mobile {
                        left: 45%;
                    }

                    @media @mobileBP {
                        left: 30%;
                    }
                }
                
                input {
                    opacity: 0%;

                    @media @hamburgerMenu {
                        display: block;
                        width: 40px;
                        height: 32px;
                        position: absolute;
                        top: -7px;
                        left: -5px;
                        cursor: pointer;
                        opacity: 0; 
                        z-index: 2;

                        &:checked ~ span {
                            opacity: 1;
                            transform: rotate(-45deg) translate(-2px, -1px);
                            background-color: @accentColor;
                        }

                        &:checked ~ span:nth-child(3) {
                            opacity: 0;
                            transform: rotate(0deg) scale(0.2, 0.2);
                            transform-origin: center;
                        }

                        &:checked ~ span:nth-child(2) {
                            transform: rotate(45deg) translate(0, -1px);
                        }

                        &:checked ~ .buttons {
                            transform: none;
                        }
                    }
                }

                span {

                    @media @hamburgerMenu {
                        display: block;
                        width: 33px;
                        height: 4px;
                        margin-bottom: 5px;
                        position: relative;
                        background: @accentColor2;
                        border-radius: 3px;
                        z-index: 1;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                    opacity 0.55s ease;

                        &:first-child{
                            transform-origin: 0% 0%;
                        }
                        &:nth-last-child(2) {
                            transform-origin: 0% 100%;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    width: 100%;
                    justify-content: end;

                    @media @hamburgerMenu {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        width: 100vw;
                        margin: -100px 0 0 -164%;
                        padding: 50px;
                        padding-top: 125px;
                        background: linear-gradient(0deg, rgba(163,190,179,1) 0%, rgba(255,255,255,1) 100%);
                        transform: translate(100%, 0);
                        transition: transform 0.8s cubic-bezier(0.77,0.2,0.05,1.0);

                        @media @mobile {
                            margin: -100px 0 0 -157%;
                        }

                        @media @mobileBP {
                            margin: -100px 0 0 -170%;
                        }
                    }
                }
                
                a {
                    margin: .6rem;
                    text-decoration: none;
                    font-size: 1.8rem;
                    padding: 0 1%;
                    color: @mainColor;
                    display: inline-block;

                        @media @hamburgerMenu {
                            .buttonStyle(30%);
                            text-align: center;
                        }
                        
                    &:hover {
                        color: @accentColor;
                        transform: translate(0, -8px);
                        transition: 0.3s ease;

                        @media @hamburgerMenu {
                            color: @accentColor;
                        }
                    }
            }

            p{
                font-size: 4rem;

                @media @hamburgerMenu {
                    opacity: 0%;
                }
            }
        }

        .nav-logo {
            height: 7rem;

            @media @mobile {
                height: 6.7rem;
            }
        }


        }
    }
