header {
    display: flex;
    flex-direction: column;
    align-items: center;

        nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .links {
                
                a {
                    margin: 5px;
                    text-decoration: none;
                }

                a:not(:first-child){
                    border-left: 2px solid @textColor;
                }

                .nav-logo {
                    height: 25px;
                }
        }
}