.strains-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 5% 0;
    
    h1{
        font-size: 4rem;
        margin-bottom: 2%;
    }

}

.mdash {
    display: none;

    @media @tablet{
        display: flex;
        justify-content: center;
        font-size: 6rem;
        align-items: center;
        text-align: center;
        margin: 2% 0 2% 0;
    }
}
.strainsSection{
    
    
    .sativa{
        display: flex;
        justify-content: center;
        align-items: center;

        @media @tablet{
            flex-direction: column;
            margin-bottom: 2%;
        }
        
        .strainsTextSection {
            h2 {
                margin-bottom: 1%;
            }
            p{
                padding-right: 5%;

                @media @tablet{
                    margin-bottom: 5%;
                }
            }
        }
        img{
            width: 60rem;
            height: auto;

            @media @tablet {
               width: 30rem;
            }
        }
    }

    .indica{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        @media @tablet{
            flex-direction: column;
        }

        .strainsTextSection {
            h2 {
                padding-left: 5%;
                margin-bottom: 1%;

                @media @tablet{
                    padding: 0;
                }
            }
            p{
                padding-left: 5%;

                @media @tablet{
                    padding: 0;
                }
            }
        }
        img{
            width: 60rem;
            height: auto;

            @media @tablet {
                width: 30rem;
             }
        }

    }

    .hybrid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;

        @media @tablet{
            flex-direction: column;
        }

        .strainsTextSection {
            h2 {
                margin-bottom: 1%;
            }
            p{
                padding-right: 5%;
            }
        }

        img{
            width: 60rem;
            height: auto;

            @media @tablet {
                width: 30rem;
             }
        }
    }
}