.strains-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 3% 0;
    

    @media @tablet{
        margin-top: 2%;
        padding-top: 3%;
    }

    @media @hamburgerMenu {
        margin-top: 4%;
        padding-top: 3%;
    }
    
    h1{
        font-size: 5rem;
        margin-bottom: 2%;
        // margin-top: 10%;
    }

}

.mdash {
    display: none;

    @media @tablet{
        display: flex;
        justify-content: center;
        font-size: 6rem;
        align-items: center;
        text-align: center;
        margin: 2% 0 0 0;
    }
}
.strainsSection{
    
    .sativa{
        display: flex;
        justify-content: center;
        align-items: center;

        @media @tablet{
            flex-direction: column;
            margin-bottom: 2%;
        }
        
        .strainsTextSection {
            h2 {
                margin-bottom: 1%;

                @media @tablet{
                    margin-top: 5%;
                    text-align: center;
                }
            }
            p{
                padding-right: 5%;

                @media @tablet{
                    margin-bottom: 3%;
                }
            }
        }
        img{
            width: 60rem;
            height: auto;

            @media @tablet {
               width: 45rem;
            }
        }
    }

    .indica{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        @media @tablet{
            flex-direction: column;
            margin-bottom: 2%;
        }

        .strainsTextSection {
            margin-top: 2%;

            h2 {
                padding-left: 5%;
                margin-bottom: 1%;

                @media @tablet{
                    padding: 0;
                    margin-top: 5%;
                    text-align: center;
                }
            }
            p{
                padding-left: 5%;

                @media @tablet{
                    padding: 0;
                    margin-bottom: 3%;
                }
            }
        }
        img{
            width: 60rem;
            height: auto;

            @media @tablet {
                width: 45rem;
                margin-bottom: 3%;
             }
        }

    }

    .hybrid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;

        @media @tablet{
            flex-direction: column;
        }

        .strainsTextSection {

            margin-top: 2%;

            h2 {
                margin-bottom: 1%;
                
                @media @tablet {
                    margin-top: 5%;
                    text-align: center;
                }
            }
            p{
                padding-right: 5%;

                @media @tablet {
                    margin-bottom: 3%;
                    text-align: center;
                }
            }
        }

        img{
            width: 60rem;
            height: auto;

            @media @tablet {
                width: 45rem;
                margin-bottom: 3%;
             }
        }
    }
}